#nav-bar, #appcontent, #TabsToolbar {
    background: #E75225 !important;
}

.tab-background[selected="true"] {
    background: #E75225 !important;
}

.tab-background[selected="false"], .tabbrowser-tabs, #urlbar  {
    background: #141416 !important;
    color: #E7D1A2 !important;
}

.tab-line[selected="true"] {
    background: #E7D1A2 !important;
}
